################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/StrategyPatternForOrders/.vs/StrategyPatternForOrders
/StrategyPatternForOrders/bin/Debug/net8.0
/StrategyPatternForOrders/obj
